.navdesign {
  border-top: inset #2DA1FB 5px;
  border-left: inset #2DA1FB 5px;
  border-bottom: inset #2DA1FB 5px;
  background-color: #9ED2FA;
  text-align: center;
  padding: 10px;
}

.introtitle {

  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  border: ridge #4B4B4B 10px;
  background-color: #CBCFCE;
  padding: 5px;
}


.intromain {
  text-align: center;
  margin-right: auto;
  margin-top: 5px;
  margin-left: auto;
  width: 300px;
  border: ridge #4B4B4B 10px;
  background-color: #CBCFCE;
  padding: 5px;
  font-family: Tahoma, Helvetica, sans-serif;
}

.intromain2 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 300px;
  border: ridge #4B4B4B 10px;
  background-color: #CBCFCE;
  padding: 5px;
  font-family: Tahoma, Helvetica, sans-serif;
}

.gallary {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
}



body {

 background-color: #C0CECE;

height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.intropara {

  text-align: center;
  font-family: Tahoma, Helvetica, sans-serif;

}

.introtitle2 {

text-align: center;

}

  )

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
